@font-face {
  font-family: 'Armalite';
  font-size: normal;
  src: url("../fonts/armalite.ttf") format("truetype"); }
@font-face {
  font-family: 'Blackops';
  font-size: normal;
  src: url("../fonts/BlackOpsOne-Regular.ttf") format("truetype"); }
body {
  font-family: 'Blackops', monospace;
  position: relative;
  background-image: url("../images/battleground-tank-lineup-night.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white; }

.splash-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 100vh;
  width: 100vw;
  background-color: black; }
  .splash-screen h1 {
    margin-top: 400px;
    font-size: 80px;
    font-family: 'Armalite', monospace;
    text-shadow: 40px;
    padding: 20px;
    text-shadow: 5px 5px dimgray; }
  .splash-screen P {
    display: flex;
    align-items: center; }
    .splash-screen P span {
      padding: 10px;
      animation: pulseText 2000ms linear infinite; }

@keyframes pulseText {
  0% {
    font-size: 20px; }
  25% {
    font-size: 22px; }
  50% {
    font-size: 20px; }
  75% {
    font-size: 18px; }
  100% {
    font-size: 20px; } }
.game-start {
  display: none;
  background-image: url("../images/start-screen-abrams.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; }
  .game-start .commander {
    position: absolute;
    top: -75px;
    left: -75px;
    border: 3px solid black;
    width: 200px;
    height: auto;
    border-radius: 100%;
    box-shadow: 2px 2px 1px 1px rgba(105, 105, 105, 0.8); }
  .game-start .story-instructions {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    width: 1000px;
    height: 700px;
    border-radius: 15px;
    color: white; }
    .game-start .story-instructions h2 {
      align-self: center;
      font-family: 'Armalite';
      font-size: 80px; }
    .game-start .story-instructions p {
      font-family: Helvetica;
      font-size: 20px; }
    .game-start .story-instructions .instructions {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .game-start .story-instructions .instructions .intro {
        font-size: 20px;
        padding: 20px;
        width: 900px;
        line-height: 1.4;
        letter-spacing: 1.5px; }
      .game-start .story-instructions .instructions .terrain-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 900px; }
        .game-start .story-instructions .instructions .terrain-wrapper img {
          border: 2px solid dimgray;
          width: 80px;
          height: 80px;
          border-radius: 100%;
          margin: 5px; }
        .game-start .story-instructions .instructions .terrain-wrapper .terrains {
          display: flex;
          flex-direction: column; }
        .game-start .story-instructions .instructions .terrain-wrapper .terrain-tips {
          display: flex;
          flex-direction: column;
          justify-content: space-around; }
          .game-start .story-instructions .instructions .terrain-wrapper .terrain-tips p {
            letter-spacing: 1.5px;
            margin: 15px 20px; }
        .game-start .story-instructions .instructions .terrain-wrapper .powerups {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          height: 100%; }
          .game-start .story-instructions .instructions .terrain-wrapper .powerups p {
            padding: 20px; }
    .game-start .story-instructions .next-instruct {
      display: flex;
      font-size: 20px;
      align-self: center;
      animation: pulse-button 2000ms linear infinite; }
    .game-start .story-instructions .next-instruct:hover {
      cursor: pointer; }
    .game-start .story-instructions .play-instructions {
      display: none;
      justify-content: center;
      align-items: center; }
      .game-start .story-instructions .play-instructions #player1 {
        border: 1px solid blue; }
      .game-start .story-instructions .play-instructions #player2 {
        border: 1px solid red; }
      .game-start .story-instructions .play-instructions .player {
        display: flex;
        margin: 30px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
        width: 300px; }
        .game-start .story-instructions .play-instructions .player .player-name {
          font-size: 30px;
          margin: 10px; }
        .game-start .story-instructions .play-instructions .player .keys {
          width: 150px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          display: flex;
          justify-content: center;
          align-items: center; }
          .game-start .story-instructions .play-instructions .player .keys .key {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            color: white;
            border: 2px solid white;
            border-radius: 5px;
            text-align: center;
            margin: 10px; }
          .game-start .story-instructions .play-instructions .player .keys .fire {
            width: 60px; }
          .game-start .story-instructions .play-instructions .player .keys .key-description {
            width: 60px;
            color: white;
            font-size: 20px; }
    .game-start .story-instructions .actions {
      display: none;
      align-items: center;
      justify-content: center;
      width: 900px; }
      .game-start .story-instructions .actions select {
        margin: 30px;
        width: 300px;
        height: 50px;
        color: white;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.8);
        border: 2px solid white;
        padding: 0 5px; }
      .game-start .story-instructions .actions #begin-game {
        margin: 30px;
        font-size: 20px;
        border: 2px solid white;
        padding: 20px;
        border-radius: 15px;
        animation: pulse-button 2000ms linear infinite;
        letter-spacing: 1.2px; }
      .game-start .story-instructions .actions #begin-game:hover {
        cursor: pointer;
        box-shadow: 5px 5px 1px 1px dimgray;
        animation: 0;
        color: dimgray; }

main {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 100vw;
  min-height: 100vh; }
  main .health {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    font-size: 30px; }
    main .health .player {
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .health .player .progress-wrapper {
        border: 2px solid dimgray;
        width: 250px;
        height: 20px;
        border-radius: 15px;
        margin: 20px; }
        main .health .player .progress-wrapper .progressBar {
          width: 100%;
          height: 100%;
          border-radius: 15px;
          background-color: #57d900; }
  main #tank {
    transition: all 200ms; }

footer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh; }
  footer h2 {
    font-family: 'Armalite', monospace;
    font-size: 80px; }
  footer h3 {
    font-family: 'Blackops';
    font-size: 40px;
    padding: 40px;
    width: 1050px;
    line-height: 1.2; }
  footer .re-play {
    font-size: 20px;
    border: 2px solid white;
    padding: 30px;
    border-radius: 15px;
    animation: pulse-button 1000ms linear infinite; }
  footer .re-play:hover {
    cursor: pointer;
    box-shadow: 5px 5px 1px 1px dimgray;
    animation: 0; }

@keyframes pulse-button {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.05); }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(0.95); }
  100% {
    transform: scale(1); } }
.bold {
  font-weight: bold; }

.rotate, .up, .right, .down, .left {
  transition: transform 200ms; }

.up {
  transform: rotate(90deg); }

.right {
  transform: rotate(180deg); }

.down {
  transform: rotate(-90deg); }

.left {
  transform: rotate(0deg); }

.fade-in {
  animation: fadeIn 4s infinite; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
